In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,StandardScaler
df = pd.read_csv(r"X:\sir ismail AI course\jupyter data sice\dataset\ipl_2022_dataset.csv")
df

,Unnamed: 0,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,Team
0,0,Rashid Khan,Draft Pick,BOWLER,15.0,1950.0,SRH,Gujarat Titans
1,1,Hardik Pandya,Draft Pick,ALL-ROUNDER,15.0,1950.0,MI,Gujarat Titans
2,2,Lockie Ferguson,2 Cr,BOWLER,10.0,1300.0,KKR,Gujarat Titans
3,3,Rahul Tewatia,40 Lakh,ALL-ROUNDER,9.0,1170.0,RR,Gujarat Titans
4,4,Shubman Gill,Draft Pick,BATTER,8.0,1040.0,KKR,Gujarat Titans
...,...,...,...,...,...,...,...,...
628,628,Sairaj Patil,20 Lakh,BATTER,NaN,NaN,NaN,Unsold
629,629,Monu Singh,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
630,630,Nivethan Radhakrishnan,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
631,631,Lance Morris,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
632,632,Aaron Hardie,20 Lakh,ALL-ROUNDER,NaN,NaN,NaN,Unsold

In [2]:
df.isnull().sum()

Unnamed: 0           0
Player               0
Base Price           0
TYPE                 0
COST IN ₹ (CR.)    396
Cost IN $ (000)    396
2021 Squad         434
Team                 0
dtype: int64

In [3]:
df = df.fillna(0)
df

,Unnamed: 0,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,Team
0,0,Rashid Khan,Draft Pick,BOWLER,15.0,1950.0,SRH,Gujarat Titans
1,1,Hardik Pandya,Draft Pick,ALL-ROUNDER,15.0,1950.0,MI,Gujarat Titans
2,2,Lockie Ferguson,2 Cr,BOWLER,10.0,1300.0,KKR,Gujarat Titans
3,3,Rahul Tewatia,40 Lakh,ALL-ROUNDER,9.0,1170.0,RR,Gujarat Titans
4,4,Shubman Gill,Draft Pick,BATTER,8.0,1040.0,KKR,Gujarat Titans
...,...,...,...,...,...,...,...,...
628,628,Sairaj Patil,20 Lakh,BATTER,0.0,0.0,0,Unsold
629,629,Monu Singh,20 Lakh,BOWLER,0.0,0.0,0,Unsold
630,630,Nivethan Radhakrishnan,20 Lakh,BOWLER,0.0,0.0,0,Unsold
631,631,Lance Morris,20 Lakh,BOWLER,0.0,0.0,0,Unsold
632,632,Aaron Hardie,20 Lakh,ALL-ROUNDER,0.0,0.0,0,Unsold

In [4]:
df.isnull().sum()

Unnamed: 0         0
Player             0
Base Price         0
TYPE               0
COST IN ₹ (CR.)    0
Cost IN $ (000)    0
2021 Squad         0
Team               0
dtype: int64

In [5]:
df.describe()

       Unnamed: 0  COST IN ₹ (CR.)  Cost IN $ (000)
count  633.000000       633.000000       633.000000
mean   316.000000         1.383728       179.884676
std    182.875641         3.148242       409.271463
min      0.000000         0.000000         0.000000
25%    158.000000         0.000000         0.000000
50%    316.000000         0.000000         0.000000
75%    474.000000         0.550000        71.500000
max    632.000000        17.000000      2210.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 633 entries, 0 to 632
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       633 non-null    int64
 1   Player           633 non-null    object
 2   Base Price       633 non-null    object
 3   TYPE             633 non-null    object
 4   COST IN ₹ (CR.)  633 non-null    float64
 5   Cost IN $ (000)  633 non-null    float64
 6   2021 Squad       633 non-null    object
 7   Team             633 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 39.7+ KB

In [7]:
dum_df = pd.get_dummies(df[["TYPE"]])
df = df.join(dum_df)
df

,Unnamed: 0,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,Team,TYPE_ALL-ROUNDER,TYPE_BATTER,TYPE_BOWLER,TYPE_WICKETKEEPER
0,0,Rashid Khan,Draft Pick,BOWLER,15.0,1950.0,SRH,Gujarat Titans,0,0,1,0
1,1,Hardik Pandya,Draft Pick,ALL-ROUNDER,15.0,1950.0,MI,Gujarat Titans,1,0,0,0
2,2,Lockie Ferguson,2 Cr,BOWLER,10.0,1300.0,KKR,Gujarat Titans,0,0,1,0
3,3,Rahul Tewatia,40 Lakh,ALL-ROUNDER,9.0,1170.0,RR,Gujarat Titans,1,0,0,0
4,4,Shubman Gill,Draft Pick,BATTER,8.0,1040.0,KKR,Gujarat Titans,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
628,628,Sairaj Patil,20 Lakh,BATTER,0.0,0.0,0,Unsold,0,1,0,0
629,629,Monu Singh,20 Lakh,BOWLER,0.0,0.0,0,Unsold,0,0,1,0
630,630,Nivethan Radhakrishnan,20 Lakh,BOWLER,0.0,0.0,0,Unsold,0,0,1,0
631,631,Lance Morris,20 Lakh,BOWLER,0.0,0.0,0,Unsold,0,0,1,0
632,632,Aaron Hardie,20 Lakh,ALL-ROUNDER,0.0,0.0,0,Unsold,1,0,0,0

In [8]:
dum_df = pd.get_dummies(df[["Team"]])
df = df.join(dum_df)
df

,Unnamed: 0,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,Team,TYPE_ALL-ROUNDER,TYPE_BATTER,...,Team_Delhi Capitals,Team_Gujarat Titans,Team_Kolkata Knight Riders,Team_Lucknow Super Giants,Team_Mumbai Indians,Team_Punjab Kings,Team_Rajasthan Royals,Team_Royal Challengers Bangalore,Team_Sunrisers Hyderabad,Team_Unsold
0,0,Rashid Khan,Draft Pick,BOWLER,15.0,1950.0,SRH,Gujarat Titans,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,Hardik Pandya,Draft Pick,ALL-ROUNDER,15.0,1950.0,MI,Gujarat Titans,1,0,...,0,1,0,0,0,0,0,0,0,0
2,2,Lockie Ferguson,2 Cr,BOWLER,10.0,1300.0,KKR,Gujarat Titans,0,0,...,0,1,0,0,0,0,0,0,0,0
3,3,Rahul Tewatia,40 Lakh,ALL-ROUNDER,9.0,1170.0,RR,Gujarat Titans,1,0,...,0,1,0,0,0,0,0,0,0,0
4,4,Shubman Gill,Draft Pick,BATTER,8.0,1040.0,KKR,Gujarat Titans,0,1,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
628,628,Sairaj Patil,20 Lakh,BATTER,0.0,0.0,0,Unsold,0,1,...,0,0,0,0,0,0,0,0,0,1
629,629,Monu Singh,20 Lakh,BOWLER,0.0,0.0,0,Unsold,0,0,...,0,0,0,0,0,0,0,0,0,1
630,630,Nivethan Radhakrishnan,20 Lakh,BOWLER,0.0,0.0,0,Unsold,0,0,...,0,0,0,0,0,0,0,0,0,1
631,631,Lance Morris,20 Lakh,BOWLER,0.0,0.0,0,Unsold,0,0,...,0,0,0,0,0,0,0,0,0,1
632,632,Aaron Hardie,20 Lakh,ALL-ROUNDER,0.0,0.0,0,Unsold,1,0,...,0,0,0,0,0,0,0,0,0,1

In [9]:
df.drop("TYPE",axis = 1, inplace = True)
df

,Unnamed: 0,Player,Base Price,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,Team,TYPE_ALL-ROUNDER,TYPE_BATTER,TYPE_BOWLER,...,Team_Delhi Capitals,Team_Gujarat Titans,Team_Kolkata Knight Riders,Team_Lucknow Super Giants,Team_Mumbai Indians,Team_Punjab Kings,Team_Rajasthan Royals,Team_Royal Challengers Bangalore,Team_Sunrisers Hyderabad,Team_Unsold
0,0,Rashid Khan,Draft Pick,15.0,1950.0,SRH,Gujarat Titans,0,0,1,...,0,1,0,0,0,0,0,0,0,0
1,1,Hardik Pandya,Draft Pick,15.0,1950.0,MI,Gujarat Titans,1,0,0,...,0,1,0,0,0,0,0,0,0,0
2,2,Lockie Ferguson,2 Cr,10.0,1300.0,KKR,Gujarat Titans,0,0,1,...,0,1,0,0,0,0,0,0,0,0
3,3,Rahul Tewatia,40 Lakh,9.0,1170.0,RR,Gujarat Titans,1,0,0,...,0,1,0,0,0,0,0,0,0,0
4,4,Shubman Gill,Draft Pick,8.0,1040.0,KKR,Gujarat Titans,0,1,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
628,628,Sairaj Patil,20 Lakh,0.0,0.0,0,Unsold,0,1,0,...,0,0,0,0,0,0,0,0,0,1
629,629,Monu Singh,20 Lakh,0.0,0.0,0,Unsold,0,0,1,...,0,0,0,0,0,0,0,0,0,1
630,630,Nivethan Radhakrishnan,20 Lakh,0.0,0.0,0,Unsold,0,0,1,...,0,0,0,0,0,0,0,0,0,1
631,631,Lance Morris,20 Lakh,0.0,0.0,0,Unsold,0,0,1,...,0,0,0,0,0,0,0,0,0,1
632,632,Aaron Hardie,20 Lakh,0.0,0.0,0,Unsold,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [10]:
df.drop("Team",axis = 1, inplace = True)
df

,Unnamed: 0,Player,Base Price,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,TYPE_ALL-ROUNDER,TYPE_BATTER,TYPE_BOWLER,TYPE_WICKETKEEPER,...,Team_Delhi Capitals,Team_Gujarat Titans,Team_Kolkata Knight Riders,Team_Lucknow Super Giants,Team_Mumbai Indians,Team_Punjab Kings,Team_Rajasthan Royals,Team_Royal Challengers Bangalore,Team_Sunrisers Hyderabad,Team_Unsold
0,0,Rashid Khan,Draft Pick,15.0,1950.0,SRH,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
1,1,Hardik Pandya,Draft Pick,15.0,1950.0,MI,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,2,Lockie Ferguson,2 Cr,10.0,1300.0,KKR,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
3,3,Rahul Tewatia,40 Lakh,9.0,1170.0,RR,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,4,Shubman Gill,Draft Pick,8.0,1040.0,KKR,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
628,628,Sairaj Patil,20 Lakh,0.0,0.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
629,629,Monu Singh,20 Lakh,0.0,0.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
630,630,Nivethan Radhakrishnan,20 Lakh,0.0,0.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
631,631,Lance Morris,20 Lakh,0.0,0.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
632,632,Aaron Hardie,20 Lakh,0.0,0.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [11]:
df.drop("Unnamed: 0",axis = 1, inplace = True)
df

,Player,Base Price,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,TYPE_ALL-ROUNDER,TYPE_BATTER,TYPE_BOWLER,TYPE_WICKETKEEPER,Team_Chennai Super Kings,Team_Delhi Capitals,Team_Gujarat Titans,Team_Kolkata Knight Riders,Team_Lucknow Super Giants,Team_Mumbai Indians,Team_Punjab Kings,Team_Rajasthan Royals,Team_Royal Challengers Bangalore,Team_Sunrisers Hyderabad,Team_Unsold
0,Rashid Khan,Draft Pick,15.0,1950.0,SRH,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0
1,Hardik Pandya,Draft Pick,15.0,1950.0,MI,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2,Lockie Ferguson,2 Cr,10.0,1300.0,KKR,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0
3,Rahul Tewatia,40 Lakh,9.0,1170.0,RR,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,Shubman Gill,Draft Pick,8.0,1040.0,KKR,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
628,Sairaj Patil,20 Lakh,0.0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
629,Monu Singh,20 Lakh,0.0,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
630,Nivethan Radhakrishnan,20 Lakh,0.0,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
631,Lance Morris,20 Lakh,0.0,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
632,Aaron Hardie,20 Lakh,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [12]:
df.drop("Player",axis = 1, inplace = True)
df

,Base Price,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,TYPE_ALL-ROUNDER,TYPE_BATTER,TYPE_BOWLER,TYPE_WICKETKEEPER,Team_Chennai Super Kings,Team_Delhi Capitals,Team_Gujarat Titans,Team_Kolkata Knight Riders,Team_Lucknow Super Giants,Team_Mumbai Indians,Team_Punjab Kings,Team_Rajasthan Royals,Team_Royal Challengers Bangalore,Team_Sunrisers Hyderabad,Team_Unsold
0,Draft Pick,15.0,1950.0,SRH,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0
1,Draft Pick,15.0,1950.0,MI,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2,2 Cr,10.0,1300.0,KKR,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0
3,40 Lakh,9.0,1170.0,RR,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,Draft Pick,8.0,1040.0,KKR,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
628,20 Lakh,0.0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
629,20 Lakh,0.0,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
630,20 Lakh,0.0,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
631,20 Lakh,0.0,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
632,20 Lakh,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [13]:
df[(df["Base Price"]=="Draft Pick")]

,Base Price,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,TYPE_ALL-ROUNDER,TYPE_BATTER,TYPE_BOWLER,TYPE_WICKETKEEPER,Team_Chennai Super Kings,Team_Delhi Capitals,Team_Gujarat Titans,Team_Kolkata Knight Riders,Team_Lucknow Super Giants,Team_Mumbai Indians,Team_Punjab Kings,Team_Rajasthan Royals,Team_Royal Challengers Bangalore,Team_Sunrisers Hyderabad,Team_Unsold
0,Draft Pick,15.0,1950.0,SRH,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0
1,Draft Pick,15.0,1950.0,MI,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,Draft Pick,8.0,1040.0,KKR,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0
121,Draft Pick,17.0,2210.0,PBKS,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0
123,Draft Pick,9.2,1196.0,DC,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
130,Draft Pick,4.0,520.0,PBKS,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0

In [14]:
df.drop(df.index[[0,1,4,121,123,130,24,27,47,49,50,52,72,74,75,78,96,104,143,145,149,168,169,174,190,22,25,148,191,198,214,223,224]],axis = 0, inplace = True)
df

,Base Price,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,TYPE_ALL-ROUNDER,TYPE_BATTER,TYPE_BOWLER,TYPE_WICKETKEEPER,Team_Chennai Super Kings,Team_Delhi Capitals,Team_Gujarat Titans,Team_Kolkata Knight Riders,Team_Lucknow Super Giants,Team_Mumbai Indians,Team_Punjab Kings,Team_Rajasthan Royals,Team_Royal Challengers Bangalore,Team_Sunrisers Hyderabad,Team_Unsold
2,2 Cr,10.00,1300.0,KKR,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0
3,40 Lakh,9.00,1170.0,RR,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0
5,2 Cr,6.25,812.5,PBKS,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0
6,20 Lakh,3.20,416.0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0
7,1 Cr,3.00,390.0,RR,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
628,20 Lakh,0.00,0.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
629,20 Lakh,0.00,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
630,20 Lakh,0.00,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
631,20 Lakh,0.00,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
632,20 Lakh,0.00,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [15]:
df[(df["Base Price"]== "Retained")]

Empty DataFrame
Columns: [Base Price, COST IN ₹ (CR.), Cost IN $ (000), 2021 Squad, TYPE_ALL-ROUNDER, TYPE_BATTER, TYPE_BOWLER, TYPE_WICKETKEEPER, Team_Chennai Super Kings, Team_Delhi Capitals, Team_Gujarat Titans, Team_Kolkata Knight Riders, Team_Lucknow Super Giants, Team_Mumbai Indians, Team_Punjab Kings, Team_Rajasthan Royals, Team_Royal Challengers Bangalore, Team_Sunrisers Hyderabad, Team_Unsold]
Index: []

In [16]:
X=df.drop("Base Price",axis=1)
X

,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,TYPE_ALL-ROUNDER,TYPE_BATTER,TYPE_BOWLER,TYPE_WICKETKEEPER,Team_Chennai Super Kings,Team_Delhi Capitals,Team_Gujarat Titans,Team_Kolkata Knight Riders,Team_Lucknow Super Giants,Team_Mumbai Indians,Team_Punjab Kings,Team_Rajasthan Royals,Team_Royal Challengers Bangalore,Team_Sunrisers Hyderabad,Team_Unsold
2,10.00,1300.0,KKR,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0
3,9.00,1170.0,RR,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0
5,6.25,812.5,PBKS,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0
6,3.20,416.0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0
7,3.00,390.0,RR,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
628,0.00,0.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
629,0.00,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
630,0.00,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
631,0.00,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
632,0.00,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [17]:
y=df["Base Price"]
y

2         2 Cr
3      40 Lakh
5         2 Cr
6      20 Lakh
7         1 Cr
        ...
628    20 Lakh
629    20 Lakh
630    20 Lakh
631    20 Lakh
632    20 Lakh
Name: Base Price, Length: 600, dtype: object

In [18]:
X_train,X_test,y_train,y_test=train_test_split(X,y, train_size= 0.2,random_state=51)

In [19]:
ss = StandardScaler()

In [20]:
ss.fit(X_train,y_train)

ValueError: could not convert string to float: 'PBKS'

In [ ]:
df.info()